body{
    margin: 0 auto;
    padding: 0;

    font-family: "Montserrat Bold", sans-serif;
}
.class{
    margin: 0 auto;
    color: #774E2E;
    max-width: 1920%;
    max-height: 3067%;
}
header{
    padding-top: 20px;
}
.container{
    grid-gap: 5px;
    padding-left: 500px;
}
.container img{
    position: absolute;
}
.container-two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    /*padding-top: 20px;*/
}
.container-two a{
    margin-right: 50px ;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #774E2E;
    text-decoration: none;
}


/*main*/
/*section-1*/
.group{
    display: flex;
    /*padding-bottom: 100px;*/
    padding: 0px 400px 100px  500px;
}
.component{
    width: 550px;
    height: 474px;
}
.yummy {
    font-family: "Montserrat  ", sans-serif;
    color: #F37F34;
    font-weight: 800;
    font-size: 100px;
    width: 300px;
    height: 110px;
    margin-top: 110px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.pug{
    font-family: "Montserrat ", sans-serif;
    color: #774E2E;
    font-weight: 800;
    font-size: 100px;
    width: 300px;
    height: 140px;
    margin:0 ;
}
.component p{
    font-family: "Montserrat Light", sans-serif;
    width: 550px;
    height: 96px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #774E2E;
    line-height: 25px;
}
.bac{
    border: #774E2E solid 1px;
    background: #774E2E;
    width: 343px;
    height: 69px;
    display: flex;
    text-align: center;
}
.bac p{
    font-family: "Montserrat", sans-serif;
    color: white;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.mops img{
    width: 500px;
    height: 526px;
    margin-top: 120px;
}

/*section-2*/

.group-two{
    background-color: #FFF9EA;
    max-width: 2100px;
    /*padding: 0 0 0 80px ;*/
    height: 750px;
}
.group-two h1{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}
.group-two span{
    color:#F37F34 ;
}
.boss{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.mak{
    border: white solid 1px;
    background: white;
    width: 300px;
    height: 380px;

    margin: 15px;
}
.mak img{
    text-align: center;
    width: 320px;
    height: 198px;
}
.mak h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
}
.mak p{
    font-family: "Montserrat Light", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
/*section-3*/

.logo{
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 150px;
    /*padding-bottom: 100px;*/
}
.vector{
    width: 600px;
    height: 500px;
    padding-top: 50px;
}
.vector h1{
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 0;
}
.vector span{
    color: #F37F34;
}
.vector p{
    font-family: "Montserrat Light", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    margin: 0;
}
.rectangle h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}
ul li{
    font-family: "Montserrat Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.mops-mops img{
    width: 575px;
    height: 722px;
    padding-top: 0;
    margin: 0;
}
footer{
    font-family: "Montserrat Light", sans-serif;
    height: 120px;
    background-color: #774E2E;
    bottom: 0;
}
.footer {
    display: flex;
    justify-content: center;
}
.footer img{
    height: 99px;
    padding-top: 15px;
}

footer p{
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-left: 50px;
}
